openapi: 3.0.3
info:
  title: Партнерский API Маркета
  description: >
    API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с
    маркетплейсом.


    В числе возможностей интеграции:


    * управление каталогом товаров и витриной,


    * обработка заказов,


    * изменение настроек магазина,


    * получение отчетов.
  version: LATEST
  license:
    name: BSD 3-Clause
    url: https://opensource.org/license/bsd-3-clause/
servers:
  - url: https://api.partner.market.yandex.ru
security:
  - OAuth:
      - market:partner-api
externalDocs:
  description: Документация API
  url: https://yandex.ru/dev/market/partner-api/doc/
paths:
  /businesses/{businessId}/settings:
    $ref: paths/businesses_businessId_settings.yaml
  /campaigns:
    $ref: paths/campaigns.yaml
  /campaigns/{campaignId}:
    $ref: paths/campaigns_campaignId.yaml
  /campaigns/{campaignId}/logins:
    $ref: paths/campaigns_campaignId_logins.yaml
  /campaigns/{campaignId}/settings:
    $ref: paths/campaigns_campaignId_settings.yaml
  /campaigns/by_login/{login}:
    $ref: paths/campaigns_by_login_login.yaml
  /campaigns/{campaignId}/region:
    $ref: paths/campaigns_campaignId_region.yaml
  /campaigns/{campaignId}/orders/{orderId}:
    $ref: paths/campaigns_campaignId_orders_orderId.yaml
  /campaigns/{campaignId}/orders:
    $ref: paths/campaigns_campaignId_orders.yaml
  /campaigns/{campaignId}/orders/{orderId}/identifiers:
    $ref: paths/campaigns_campaignId_orders_orderId_identifiers.yaml
  /campaigns/{campaignId}/orders/{orderId}/items:
    $ref: paths/campaigns_campaignId_orders_orderId_items.yaml
  /campaigns/{campaignId}/orders/{orderId}/status:
    $ref: paths/campaigns_campaignId_orders_orderId_status.yaml
  /campaigns/{campaignId}/orders/status-update:
    $ref: paths/campaigns_campaignId_orders_status-update.yaml
  /campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes:
    $ref: >-
      paths/campaigns_campaignId_orders_orderId_delivery_shipments_shipmentId_boxes.yaml
  /campaigns/{campaignId}/orders/{orderId}/cancellation/accept:
    $ref: paths/campaigns_campaignId_orders_orderId_cancellation_accept.yaml
  /campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods:
    $ref: paths/campaigns_campaignId_orders_orderId_deliverDigitalGoods.yaml
  /campaigns/{campaignId}/orders/{orderId}/boxes:
    $ref: paths/campaigns_campaignId_orders_orderId_boxes.yaml
  /campaigns/{campaignId}/orders/{orderId}/delivery/date:
    $ref: paths/campaigns_campaignId_orders_orderId_delivery_date.yaml
  /campaigns/{campaignId}/orders/{orderId}/delivery/track:
    $ref: paths/campaigns_campaignId_orders_orderId_delivery_track.yaml
  /campaigns/{campaignId}/orders/{orderId}/buyer:
    $ref: paths/campaigns_campaignId_orders_orderId_buyer.yaml
  /campaigns/{campaignId}/orders/{orderId}/verifyEac:
    $ref: paths/campaigns_campaignId_orders_orderId_verifyEac.yaml
  /campaigns/{campaignId}/orders/{orderId}/delivery/storage-limit:
    $ref: paths/campaigns_campaignId_orders_orderId_delivery_storage-limit.yaml
  /campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes/{boxId}/label:
    $ref: >-
      paths/campaigns_campaignId_orders_orderId_delivery_shipments_shipmentId_boxes_boxId_label.yaml
  /campaigns/{campaignId}/orders/{orderId}/delivery/labels:
    $ref: paths/campaigns_campaignId_orders_orderId_delivery_labels.yaml
  /campaigns/{campaignId}/orders/{orderId}/delivery/labels/data:
    $ref: paths/campaigns_campaignId_orders_orderId_delivery_labels_data.yaml
  /campaigns/{campaignId}/orders/{orderId}/business-buyer:
    $ref: paths/campaigns_campaignId_orders_orderId_business-buyer.yaml
  /campaigns/{campaignId}/orders/{orderId}/documents:
    $ref: paths/campaigns_campaignId_orders_orderId_documents.yaml
  /campaigns/{campaignId}/returns:
    $ref: paths/campaigns_campaignId_returns.yaml
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}:
    $ref: paths/campaigns_campaignId_orders_orderId_returns_returnId.yaml
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision:
    $ref: >-
      paths/campaigns_campaignId_orders_orderId_returns_returnId_decision.yaml
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision/submit:
    $ref: >-
      paths/campaigns_campaignId_orders_orderId_returns_returnId_decision_submit.yaml
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/application:
    $ref: >-
      paths/campaigns_campaignId_orders_orderId_returns_returnId_application.yaml
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision/{itemId}/image/{imageHash}:
    $ref: >-
      paths/campaigns_campaignId_orders_orderId_returns_returnId_decision_itemId_image_imageHash.yaml
  /regions:
    $ref: paths/regions.yaml
  /regions/{regionId}:
    $ref: paths/regions_regionId.yaml
  /regions/{regionId}/children:
    $ref: paths/regions_regionId_children.yaml
  /campaigns/{campaignId}/shipments/reception-transfer-act:
    $ref: paths/campaigns_campaignId_shipments_reception-transfer-act.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}:
    $ref: paths/campaigns_campaignId_first-mile_shipments_shipmentId.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/orders/info:
    $ref: >-
      paths/campaigns_campaignId_first-mile_shipments_shipmentId_orders_info.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/confirm:
    $ref: >-
      paths/campaigns_campaignId_first-mile_shipments_shipmentId_confirm.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/act:
    $ref: paths/campaigns_campaignId_first-mile_shipments_shipmentId_act.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/inbound-act:
    $ref: >-
      paths/campaigns_campaignId_first-mile_shipments_shipmentId_inbound-act.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/transportation-waybill:
    $ref: >-
      paths/campaigns_campaignId_first-mile_shipments_shipmentId_transportation-waybill.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/discrepancy-act:
    $ref: >-
      paths/campaigns_campaignId_first-mile_shipments_shipmentId_discrepancy-act.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/pallets:
    $ref: >-
      paths/campaigns_campaignId_first-mile_shipments_shipmentId_pallets.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/pallet/labels:
    $ref: >-
      paths/campaigns_campaignId_first-mile_shipments_shipmentId_pallet_labels.yaml
  /campaigns/{campaignId}/first-mile/shipments:
    $ref: paths/campaigns_campaignId_first-mile_shipments.yaml
  /campaigns/{campaignId}/first-mile/shipments/{shipmentId}/orders/transfer:
    $ref: >-
      paths/campaigns_campaignId_first-mile_shipments_shipmentId_orders_transfer.yaml
  /businesses/{businessId}/offer-mappings/delete:
    $ref: paths/businesses_businessId_offer-mappings_delete.yaml
  /businesses/{businessId}/offer-mappings:
    $ref: paths/businesses_businessId_offer-mappings.yaml
  /businesses/{businessId}/offer-mappings/update:
    $ref: paths/businesses_businessId_offer-mappings_update.yaml
  /businesses/{businessId}/offer-mappings/suggestions:
    $ref: paths/businesses_businessId_offer-mappings_suggestions.yaml
  /businesses/{businessId}/offer-mappings/archive:
    $ref: paths/businesses_businessId_offer-mappings_archive.yaml
  /businesses/{businessId}/offer-mappings/unarchive:
    $ref: paths/businesses_businessId_offer-mappings_unarchive.yaml
  /campaigns/{campaignId}/offer-mapping-entries:
    $ref: paths/campaigns_campaignId_offer-mapping-entries.yaml
  /campaigns/{campaignId}/offer-mapping-entries/updates:
    $ref: paths/campaigns_campaignId_offer-mapping-entries_updates.yaml
  /campaigns/{campaignId}/offer-mapping-entries/suggestions:
    $ref: paths/campaigns_campaignId_offer-mapping-entries_suggestions.yaml
  /businesses/{businessId}/offer-prices/updates:
    $ref: paths/businesses_businessId_offer-prices_updates.yaml
  /campaigns/{campaignId}/offer-prices/updates:
    $ref: paths/campaigns_campaignId_offer-prices_updates.yaml
  /campaigns/{campaignId}/offer-prices:
    $ref: paths/campaigns_campaignId_offer-prices.yaml
  /campaigns/{campaignId}/offer-prices/suggestions:
    $ref: paths/campaigns_campaignId_offer-prices_suggestions.yaml
  /businesses/{businessId}/price-quarantine:
    $ref: paths/businesses_businessId_price-quarantine.yaml
  /businesses/{businessId}/price-quarantine/confirm:
    $ref: paths/businesses_businessId_price-quarantine_confirm.yaml
  /campaigns/{campaignId}/price-quarantine:
    $ref: paths/campaigns_campaignId_price-quarantine.yaml
  /campaigns/{campaignId}/price-quarantine/confirm:
    $ref: paths/campaigns_campaignId_price-quarantine_confirm.yaml
  /campaigns/{campaignId}/hidden-offers:
    $ref: paths/campaigns_campaignId_hidden-offers.yaml
  /campaigns/{campaignId}/hidden-offers/delete:
    $ref: paths/campaigns_campaignId_hidden-offers_delete.yaml
  /campaigns/{campaignId}/offers/stocks:
    $ref: paths/campaigns_campaignId_offers_stocks.yaml
  /delivery/services:
    $ref: paths/delivery_services.yaml
  /campaigns/{campaignId}/stats/orders:
    $ref: paths/campaigns_campaignId_stats_orders.yaml
  /campaigns/{campaignId}/stats/skus:
    $ref: paths/campaigns_campaignId_stats_skus.yaml
  /reports/info/{reportId}:
    $ref: paths/reports_info_reportId.yaml
  /reports/united-netting/generate:
    $ref: paths/reports_united-netting_generate.yaml
  /reports/united-marketplace-services/generate:
    $ref: paths/reports_united-marketplace-services_generate.yaml
  /reports/united-orders/generate:
    $ref: paths/reports_united-orders_generate.yaml
  /reports/goods-realization/generate:
    $ref: paths/reports_goods-realization_generate.yaml
  /reports/prices/generate:
    $ref: paths/reports_prices_generate.yaml
  /reports/stocks-on-warehouses/generate:
    $ref: paths/reports_stocks-on-warehouses_generate.yaml
  /reports/goods-movement/generate:
    $ref: paths/reports_goods-movement_generate.yaml
  /reports/shows-sales/generate:
    $ref: paths/reports_shows-sales_generate.yaml
  /reports/competitors-position/generate:
    $ref: paths/reports_competitors-position_generate.yaml
  /reports/goods-turnover/generate:
    $ref: paths/reports_goods-turnover_generate.yaml
  /reports/boost-consolidated/generate:
    $ref: paths/reports_boost-consolidated_generate.yaml
  /reports/documents/shipment-list/generate:
    $ref: paths/reports_documents_shipment-list_generate.yaml
  /reports/shelf-statistics/generate:
    $ref: paths/reports_shelf-statistics_generate.yaml
  /reports/documents/labels/generate:
    $ref: paths/reports_documents_labels_generate.yaml
  /campaigns/{campaignId}/outlets:
    $ref: paths/campaigns_campaignId_outlets.yaml
  /campaigns/{campaignId}/outlets/{outletId}:
    $ref: paths/campaigns_campaignId_outlets_outletId.yaml
  /campaigns/{campaignId}/outlets/licenses:
    $ref: paths/campaigns_campaignId_outlets_licenses.yaml
  /campaigns/{campaignId}/feedback/updates:
    $ref: paths/campaigns_campaignId_feedback_updates.yaml
  /campaigns/{campaignId}/offers:
    $ref: paths/campaigns_campaignId_offers.yaml
  /campaigns/{campaignId}/offers/update:
    $ref: paths/campaigns_campaignId_offers_update.yaml
  /campaigns/{campaignId}/offers/delete:
    $ref: paths/campaigns_campaignId_offers_delete.yaml
  /campaigns/{campaignId}/offers/all:
    $ref: paths/campaigns_campaignId_offers_all.yaml
  /businesses/{businessId}/offers/recommendations:
    $ref: paths/businesses_businessId_offers_recommendations.yaml
  /campaigns/{campaignId}/feeds/{feedId}:
    $ref: paths/campaigns_campaignId_feeds_feedId.yaml
  /campaigns/{campaignId}/feeds:
    $ref: paths/campaigns_campaignId_feeds.yaml
  /campaigns/{campaignId}/feeds/{feedId}/index-logs:
    $ref: paths/campaigns_campaignId_feeds_feedId_index-logs.yaml
  /campaigns/{campaignId}/feeds/{feedId}/params:
    $ref: paths/campaigns_campaignId_feeds_feedId_params.yaml
  /campaigns/{campaignId}/feeds/{feedId}/refresh:
    $ref: paths/campaigns_campaignId_feeds_feedId_refresh.yaml
  /campaigns/{campaignId}/feeds/{feedId}/categories:
    $ref: paths/campaigns_campaignId_feeds_feedId_categories.yaml
  /campaigns/{campaignId}/feeds/categories:
    $ref: paths/campaigns_campaignId_feeds_categories.yaml
  /models:
    $ref: paths/models.yaml
  /models/{modelId}:
    $ref: paths/models_modelId.yaml
  /models/offers:
    $ref: paths/models_offers.yaml
  /models/{modelId}/offers:
    $ref: paths/models_modelId_offers.yaml
  /businesses/{businessId}/bids:
    $ref: paths/businesses_businessId_bids.yaml
  /campaigns/{campaignId}/bids:
    $ref: paths/campaigns_campaignId_bids.yaml
  /businesses/{businessId}/bids/info:
    $ref: paths/businesses_businessId_bids_info.yaml
  /businesses/{businessId}/bids/recommendations:
    $ref: paths/businesses_businessId_bids_recommendations.yaml
  /businesses/{businessId}/warehouses:
    $ref: paths/businesses_businessId_warehouses.yaml
  /warehouses:
    $ref: paths/warehouses.yaml
  /category/{categoryId}/parameters:
    $ref: paths/category_categoryId_parameters.yaml
  /businesses/{businessId}/offer-cards:
    $ref: paths/businesses_businessId_offer-cards.yaml
  /businesses/{businessId}/offer-cards/update:
    $ref: paths/businesses_businessId_offer-cards_update.yaml
  /businesses/{businessId}/chats/new:
    $ref: paths/businesses_businessId_chats_new.yaml
  /businesses/{businessId}/chats:
    $ref: paths/businesses_businessId_chats.yaml
  /businesses/{businessId}/chats/file/send:
    $ref: paths/businesses_businessId_chats_file_send.yaml
  /businesses/{businessId}/chats/message:
    $ref: paths/businesses_businessId_chats_message.yaml
  /businesses/{businessId}/chats/history:
    $ref: paths/businesses_businessId_chats_history.yaml
  /tariffs/calculate:
    $ref: paths/tariffs_calculate.yaml
  /categories/tree:
    $ref: paths/categories_tree.yaml
  /categories/max-sale-quantum:
    $ref: paths/categories_max-sale-quantum.yaml
  /businesses/{businessId}/ratings/quality:
    $ref: paths/businesses_businessId_ratings_quality.yaml
  /campaigns/{campaignId}/ratings/quality/details:
    $ref: paths/campaigns_campaignId_ratings_quality_details.yaml
components:
  securitySchemes:
    OAuth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://oauth.yandex.ru/authorize
          scopes:
            market:partner-api: API Яндекс.Маркета / Поиска по товарам для партнеров
