type: object
description: Настройки кабинета.
properties:
  onlyDefaultPrice:
    description: "Управление ценами на товары:\n\n* `false` — можно установить цену, которая действует:\n  * во всех магазинах кабинета — [POST\_v2/businesses/{businessId}/offer-prices/updates](../../reference/business-assortment/updateBusinessPrices.md);\n  * в конкретном магазине — [POST\_v2/campaigns/{campaignId}/offer-prices/updates](../../reference/assortment/updatePrices.md).\n* `true` — можно установить только цену, которая действует во всех магазинах кабинета, — [POST\_v2/businesses/{businessId}/offer-prices/updates](../../reference/business-assortment/updateBusinessPrices.md).\n"
    type: boolean
  currency:
    description: >-
      Валюта [в кабинете продавца на
      Маркете](https://partner.market.yandex.ru/).
    $ref: ./CurrencyType.yaml
