description: Настройки магазина.
type: object
properties:
  countryRegion:
    description: Идентификатор региона, в котором находится магазин.
    type: integer
    format: int64
  shopName:
    description: |
      Наименование магазина на Яндекс Маркете.
      Если наименование отсутствует, значение параметра выводится — `null`.
    type: string
  showInContext:
    description: |
      Признак размещения магазина на сайтах партнеров Яндекс Дистрибуции.
      Возможные значения:
      * `false` — магазин не размещен на сайтах партнеров Яндекс Дистрибуции.
      * `true` — магазин размещен на сайтах партнеров Яндекс Дистрибуции.
    type: boolean
  showInPremium:
    description: >
      Признак показа предложений магазина в рекламном блоке над результатами
      поиска (cпецразмещение).

      Возможные значения:

      * `false` — предложения не показываются в блоке cпецразмещения.

      * `true` — предложения показываются в блоке cпецразмещения.
    type: boolean
  useOpenStat:
    description: |
      Признак использования внешней интернет-статистики.
      Возможные значения:
      * `false` — внешняя интернет-статистика не используется.
      * `true` — внешняя интернет-статистика используется.
    type: boolean
  localRegion:
    $ref: ./CampaignSettingsLocalRegionDTO.yaml
