description: Расписание работы службы доставки в своем регионе.
type: object
properties:
  availableOnHolidays:
    description: |
      Признак работы службы доставки в государственные праздники.
      Возможные значения.
      * `false` — служба доставки не работает в праздничные дни.
      * `true` — служба доставки работает в праздничные дни.
    type: boolean
  customHolidays:
    description: >-
      Список дней, в которые служба доставки не работает. Дни магазин указал в
      кабинете продавца на Маркете.
    type: array
    items:
      $ref: ./DateDdMmYyyy.yaml
  customWorkingDays:
    description: >-
      Список выходных и праздничных дней, в которые служба доставки работает.
      Дни магазин указал в кабинете продавца на Маркете.
    type: array
    items:
      $ref: ./DateDdMmYyyy.yaml
  period:
    $ref: ./CampaignSettingsTimePeriodDTO.yaml
  totalHolidays:
    description: >-
      Итоговый список нерабочих дней службы доставки. Список рассчитывается с
      учетом выходных, нерабочих дней и государственных праздников. Информацию
      по ним магазин указывает в кабинете продавца на Маркете.
    type: array
    items:
      $ref: ./DateDdMmYyyy.yaml
  weeklyHolidays:
    description: Список выходных дней недели и государственных праздников.
    type: array
    items:
      description: |
        Номер дня недели.
        Возможные значения:
        * `1` — понедельник.
        * `2` — вторник.
        * `3` — среда.
        * `4` — четверг.
        * `5` — пятница.
        * `6` — суббота.
        * `7` — воскресенье.

        Для формата JSON выводится номер дня в виде числа.
      type: integer
      format: int32
      minimum: 1
      maximum: 7
